html {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    height: 100%;
}

body {
    height: 480px;
    width: 640px;
    margin: 0 auto;
}

.game {
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 5px solid white;
    height: 100%;
    width: 100%;
    background-color: black;
}

.paddle {
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: white;
}
  
//   .paddle-left {
//     top: 150px;
//   }
  
.paddle-right {
    right: 10px;
}

.ball {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
}

.score {
    position: relative;
    margin: 0 auto;
    z-index: 10;
    width: 140px;
    height: 50px;
}

.digit {
    position: absolute;
    background-color: white;
}
